{% autoescape true %}
<div class="col-md-3"></div>
<div class="col-md-6">
	<br><b><h3>All the Questions by {{ author }}</h3></b>
	<br></br>
	{% for que in q_a_que %}	
	
	<div class="post-heading">
		<h4><a href="{{ "/view=" ~ que.key.id() }}">{{ que.title }}</a></h4>
		<li>by {{ que.author }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; at {{ que.date.strftime('%Y-%m-%d %H:%M') }}</li>

	</div>
	 <div class="post-content">
		{{ que.body[0:500] }}
		{% if que.body|length > 500 %}
		<br> <a href="{{ "/view=" ~ que.key.id() }}">More</a>
		{% endif %}

		<li>
		{% for tag in que.tags %}
				<a href="{{ "/tag=" ~ tag  }}">{{ tag }}</a>
		{% endfor %}
		</li>
		<br>
		{% endfor %}
	</div>
{% if q_a_que|length == 10 %}	
	<b><a href="{{older_url }}">------Older Posts</b></a>
{% endif %}
	<br><b><a href="/">Main Page</b></a>
</div>
{% endautoescape %}