<!DOCTYPE html>
 {% autoescape true %}
<div class="col-md-3">
	<ul class="nav nav-list">

	{% if user_control == 1 %}
  			<li><a href="/dashboard"><h4>My Questions</h4></a></li>
  			<li><a href="/dashboard/answer"><h4>My Answers</h4></a></li>
  			<li><a href="/dashboard/image"><h4>My Images</h4></a></li>
  			<li><a href="/dashboard/create"><h4>Create a Question</h4></a></li>


 	{% endif %}

 	<li class="nav-header"><h4>Question List</h4></li>
 	{% for que in m_ques %}	
		<li><a href="{{ "/view=" ~ que.key.id() }}">{{ que.title }}</a></li>
		<li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;by {{que.author }}</li>
	{% endfor %}

	</ul>


</div>

<div class="col-md-6">
	{% for que in m_ques %}	
	 <div class="post-heading">
		<h4><a href="{{ "/view=" ~ que.key.id() }}">{{ que.title }}</a></h4>
		<li>by <a href="{{ "/author=" ~ que.author  }}">{{ que.author }}</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; at {{ que.date.strftime('%Y-%m-%d %H:%M') }}
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; last modify {{ que.edit.strftime('%Y-%m-%d %H:%M') }}

		</li>


	</div>
	 <div class="post-content">
		{{ que.bodyreplace[0:500] |safe}}
		{% if que.bodyreplace|length == 0 %}
		<br> 
		{% endif %}
		{% if que.bodyreplace|length > 500 %}
		<br> <a href="{{ "/view=" ~ que.key.id() }}">More</a>
		{% endif %}
		<li>
		{% for tag in que.tags %}
		<a href="{{ "/tag=" ~ tag  }}">{{ tag }}</a>
		{% endfor %}
		</li>
		<a href="{{ "/view=" ~ que.key.id() }}"> Permalink </a>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<a href="{{ "/dashboard/questionkey=" ~ que.key.id() ~ "/answer" }}">Create Answer </a>
	</div>

	<br><br>
	{% endfor %}
{% if m_ques|length == 10 %}	
<b><a href="{{ older_url }}">------Older Posts</b></a>
{% endif %}
</div>

<div class="col-md-3">
	<ul class="nav nav-list">



	</ul>


</div>
{% endautoescape %}

